<?xml version="1.0"?>
<!--
/**
 * @category  German
 * @package   German_LocalePack
 * @authors   MaWoScha <mawoscha@siempro.co, http://www.siempro.co/>, Rico Neitzel <rico@buro71a.de, http://www.buro71a.de/>
 * @developer MaWoScha <mawoscha@siempro.co, http://www.siempro.co/>, Rico Neitzel <rico@buro71a.de, http://www.buro71a.de/>
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <German_LocalePackFr>
            <version>0.5.0</version>
            <locale>fr_FR</locale>
            <title>French (France) Language Pack</title>
            <link_git>https://github.com/riconeitzel/German_LocalePack_fr_FR</link_git>
            <link_mage>http://www.magentocommerce.com/magento-connect/french-france-language-pack-for-magento-traduction-francaise.html</link_mage>
            <mage_key>http://connect20.magentocommerce.com/community/Locale_Mage_community_fr_FR</mage_key>
        </German_LocalePackFr>
    </modules>

    <global>
        <models>
            <localepackfr>
                <class>German_LocalePackFr_Model</class>
            </localepackfr>
        </models>
        <helpers>
            <localepackfr>
                <class>German_LocalePackFr_Helper</class>
            </localepackfr>
        </helpers>
        <blocks>
            <localepackfr>
                <class>German_LocalePackFr_Block</class>
            </localepackfr>
        </blocks>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <localepackfr>
                        <class>localepackfr/observer</class>
                        <method>adminhtmlControllerActionPredispatchStart</method>
                    </localepackfr>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
	
    <default>
        <localepackfr>
             <notification>
                <url>https://github.com/MaWoScha/German_LocalePack_fr_FR</url>
            </notification>
        </localepackfr>
        <magesetup>
            <default_country>FR</default_country>
        </magesetup>
    </default>

    <adminhtml>
        <layout>
            <updates>
                <localepackfr>
                    <files>
                        <default>localepackfr.xml</default>
                    </files>
                </localepackfr>
            </updates>
        </layout>
        <translate>
            <modules>
                <German_LocalePackFr>
                    <files>
                        <default>German_LocaleFr.csv</default>
                    </files>
                </German_LocalePackFr>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children> <!--
                                        <localepacks translate="title" module="localepackfr">
                                            <title>Language Packs</title>
                                    		<children> -->
                                        		<localepackfr translate="title" module="localepackfr">
                                            		<title>French (France) Language Pack</title>
                                        		</localepackfr> <!--
                                    		</children>
                                        </localepacks> -->
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

</config>