<!--@subject Mot de passe confirmation de réinitialisation pour {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{block type="cms/block" block_id="email_template_say_hello"}} {{htmlescape var=$customer.name}}</h1>
            <p>Vous avez récemment demandé de changer le mot de passe de votre compte.</p>
            <p>Si vous avez demandé de changer ce mot de passe, veuillez cliquer sur ce lien pour le réinitialiser:</p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}"><span>Réinitialiser le mot de passe</span></a>
                    </td>
                </tr>
            </table>
            <p>Si vous ne parvenez pas à cliquer sur le lien, veuillez copier l'URL et le coller directement dans votre navigateur.</p>
            <p>Si vous n'avez pas formulé cette demande, vous pouvez ignorer ce message et votre mot de passe restera inchangé.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
